<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Angular + Firebase Todo App</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<main class="container">
			<h1 class="text-center">Angular + Firebase Todo App</h1>
			<div ng-controller="testController">
				<form class="text-center" name="todoForm" ng-submit="addTodo()">
					<input type="text" name="newTodo" ng-model="newTodo" required>
					<button type="submit" class="btn btn-primary" ng-disabled="todoForm.$invalid">Add</button>
				</form>
				<ul class="list-inline">
					<li class="btn btn-default" ng-click="tabOpen(1)">Pending</li>
					<li class="btn btn-default" ng-click="tabOpen(2)">In progress</li>
					<li class="btn btn-default" ng-click="tabOpen(3)">Completed</li>
				</ul> 
				<ul class="list-group" ng-show="tab == 1">
					<h2>Pending List</h2>
					<li class="list-group-item clearfix" ng-repeat="d in data | filter:{status: 'pending'}">
						<div class="col-sm-9">{{d.title}}</div>
						<div class="col-sm-3 text-right">
							<button class="btn btn-warning" ng-click="start(d)">start</button>
							<button class="btn btn-danger" ng-click="remove(d)">x</button>
						</div>
					</li>
				</ul>
				<ul class="list-group" ng-show="tab == 2">
					<h2>In Progress List</h2>
					<li class="list-group-item clearfix" ng-repeat="d in data | filter:{status: 'in progress'}">
						<div class="col-sm-9">{{d.title}}</div>
						<div class="col-sm-3 text-right">
							<button class="btn btn-success" ng-click="complete(d)">done</button>
							<button class="btn btn-danger" ng-click="remove(d)">x</button>
						</div>
					</li>
				</ul>
				<ul class="list-group" ng-show="tab == 3">
					<h2>Completed</h2>
					<li class="list-group-item clearfix" ng-repeat="d in data | filter:{status: 'complete'}">
						<div class="col-sm-9">{{d.title}}</div>
						<div class="col-sm-3 text-right">
							<button class="btn btn-warning" ng-click="start(d)">restart</button>
							<button class="btn btn-danger" ng-click="remove(d)">x</button>
						</div>
					</li>
				</ul>	
			</div>	
		</main>
	</body>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	<script src="js/app.min.js"></script>
</html>