<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Angular + Firebase Todo App</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div ng-controller="authenController">
			<form method="post">
				<input type="email" name="username" ng-model="email" placeholder="type in your username" required>
				<input type="password" name="password" ng-model="accountPassword" placeholder="type in your password" required>
				<button class="btn btn-primary" type="submit" ng-click="createAccount(email,accountPassword)">create</button>
			</form>
			<form method="post">
				<input type="text" name="username" ng-model="username" placeholder="type in your username" required>
				<input type="password" name="password" ng-model="password" placeholder="type in your password" required>
				<button class="btn btn-primary" type="submit" ng-click="login(username,password)">login</button>
			</form> 
			<button class="btn btn-danger" ng-click="logout()">logout</button>
		</div>
	</body>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	<script src="js/app.min.js"></script>
</html>